<%- include('partials/nav') %>
<div class="container mt-5">
  <h1>Edit Incident</h1>
  <form action="/edit/<%= incident._id %>" method="POST">
  <label for="type">Type of Incident:</label>
  <input type="text" id="type" name="Incident_Type" value="<%= incident.Incident_Type %>" required>

  <label for="location">Location of Incident:</label>
  <input type="text" id="location" name="Location" value="<%= incident.Location %>" required>

  <label for="date">Incident Date:</label>
  <input type="date" id="date" name="Incident_Date" value="<%= incident.Incident_Date.toISOString().slice(0, 10) %>" required>

  <label for="injury_count">Injury Count:</label>
  <input type="number" id="injury_count" name="Injury_Count" value="<%= incident.Injury_Count %>" required>

  <button type="submit">Update Incident</button>
</form>

</div>
<%- include('./partials/footer.ejs') %>

